<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <style>
        a {
            margin: 3px;
        }
        form {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Todolist</h1>
    
    <a href="/">Home</a>
    <a href="/todolists">Todolists</a>
    <a href="/todolists/add">Add Todolists</a>

    <form action='/todolists/edit/<%= todolists.id%>' method="POST">
        <input type="text" name="task" id="task" value ="<%= todolists.task%>">
        
        <select name="status" id="status" value = "<%= todolists.status%>">
            <option value= true>True</option>
            <option value= false>False</option>
        <input type="submit" value="Submit">
    </form>

</body>
</html>