<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <style>
        a {
            margin: 3px;
        }
    </style>
</head>
<body>
    <h1>Todolist</h1>
    
    <a href="/">Home</a>
    <a href="/todolists">Todolists</a>
    <a href="/todolists/add">Add Todolists</a>

</body>
</html>