<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table {
            width: 500px;
            margin: 10px;
        }
        th, td {
            padding: 10px;
        }
        thead {
            background: lightblue;
        }
        a {
            margin: 3px;
        }
    </style>
</head>
<body>
    <h1>Todolist</h1>
    
    <a href="/">Home</a>
    <a href="/todolists">Todolists</a>
    <a href="/todolists/add">Add Todolists</a>

    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <% todolists.forEach(todolist => { %>
                <tr>
                    <td><%= todolist.id %></td>
                    <td><%= todolist.task %></td>
                    <td><%= todolist.status %></td>
                    <td><a href="todolists/delete/ <%= todolist.id %>">Delete</a></td>
                    <td><a href="/todolists/edit/ <%= todolist.id %>">Edit</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>