<%- include('partials/header.ejs') %>

  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto">
              <h3>Add Ship</h3>
              <form action='/pirates/add' method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name">
                  <small class="form-text text-muted">Don't input the same name</small>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                        <option value="Captain">Captain</option>
                        <option value="Nakama">Nakama</option>
                      </select>
                </div>
                
                <div class="form-group">
                    <label for="haki">Haki</label>
                    <select class="form-control" id="haki" name="haki">
                        <option value="Awakening">Awakening</option>
                        <option value="Standard">Standard</option>
                      </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
</div>

  
<%- include('partials/footer.ejs') %>
