<%- include('partials/header.ejs') %>

  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto">
              <h3>Add Ship</h3>
              <form action='/ships/add' method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name">
                  <small class="form-text text-muted">Don't input the same name</small>
                </div>

                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" id="type" name="type">
                        <option value="Caravel">Carravel</option>
                        <option value="Galleon">Galleon</option>
                      </select>
                </div>
                
                <div class="form-group">
                    <label for="power">Power</label>
                    <input type="number" class="form-control" id="power" name="power">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
</div>

  
<%- include('partials/footer.ejs') %>
