<%- include ('partials/header.ejs') %>

<div class="container-fluid text-center">
    <h1>Page Not Found.</h1>
</div>
<div class="container-fluid text-center fixed-bottom bg-dark text-white p-1">
    <p>Copyright by Ab.</p>
</div>

<%- include ('partials/footer.ejs') %>