<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore List</title>
</head>
<body>
    <h1>Bookstore List</h1>
    
    <a href="/">Home</a>
    <a href="/books">Book</a>
    <a href="/books/add">Add Book</a>  
    <a href="/books/edit/:id">Edit Book</a> 

</body>
</html>